body {
    font-family: Arial, sans-serif;
    background-color: #2f834e;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
}

.quadro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 20px;
}

.coluna {
    background-color: #1130a9;
    min-height: 300px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cards {
    min-height: 200px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.card {
    background-color: #7bad7b;
    padding: 10px;
    border-radius: 5px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #120a59;
}

.arrastando {
    opacity: 0.5;
}

/* Responsividade usando media query */
@media (max-width: 768px) {
    .quadro {
        grid-template-columns: 1fr;
    }
}